/* BOILERPLATE */
:root {
    --black: #151515;
    --mint: #4EE1A0;
    --dark-gray: #242424;
    --light-gray: #D9D9D9;
    --white: #FFFFFF;
    --red: #FF705B;
    --body-mobile-padding: 20px;
    --body-tablet-padding: 32px;
    --card-width: 335px;
}
html {
    font-family: 'Space Grotesk', sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    color: var(--white);
    background-color: var(--black);
    position: relative;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    border-bottom: 2px solid var(--mint);
    padding: 0 0 10px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.2px;
    font-family: inherit;
    transition: all .2s ease-in-out;
}
h1, h3, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* COMPONENTS */
app-home, app-projects, app-socials {
    display: block;
}
app-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
}
app-experience {
    display: grid;
    place-content: center;
    gap: 24px;
    padding: 40px 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

/* GLOBAL MOBILE STYLES */
main, header, footer {
    padding: var(--body-mobile-padding);
}
h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
footer {
    background-color: var(--dark-gray);
    padding: 40px 20px;
    border-top: 1px solid var(--white);
}

/* GLOBAL TABLET STYLES */
@media (min-width: 768px) {
    /* BOILER */
    main, header, footer {
        padding: var(--body-tablet-padding);
    }

    /* HEADER */
    app-socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* COMPONENTS */
    app-aboutme {
        display: flex;
        align-items: flex-start;
        padding: 0 0 60px 0;
    }
    app-experience {
        display: grid;
        place-content: flex-start;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

/* GLOBAL DESKTOP STYLES */
@media (min-width: 1281px) {
    header, footer {
        padding: 40px 165px;
    }
    main {
        padding: 0 165px;
    }

    /* COMPONENTS */
    app-aboutme {
        padding: 0 0 200px 0;
    }
    app-experience {
        grid-template-columns: 1fr 1fr 1fr;
    }
    app-projects {
        padding: 0 0 40px 0;
    }
}

/* GLOBAL HOVER STYLES */
@media (hover: hover) {
    button:hover, .links > a:hover, .icon:hover {
        color: var(--mint);
        transition: all .2s ease-in-out;
    }
  }